.nav-body {
    width: 100vw;
    height: auto;
    background-color: aquamarine;
}

nav {
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 10%;
    height: 10%;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
}

.nav-links Links {}